.App {
  text-align: center;
  margin: 10px;
  font-family: Arial, sans-serif;
  }
  
  h1 {
  margin-bottom: 10px;
  color:rgb(11, 1, 3);
  }

  h2 {
    margin-bottom: 20 px;
    color: rgb(117, 28, 32);
  }
  
  form {
  display: inline-block;
  text-align: left;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  }
  
  label {
  margin-right: 10px;
  }
  
  input[type="text"], select {
  padding: 5px;
  margin-bottom: 10px;
  }
  
  .form-error {
  color: red;
  margin-bottom: 10px;
  }
  
  button[type="submit"], button[type="reset"] {
  margin-top: 10px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
  cursor: pointer;
  }
  
  button[type="submit"]:hover, button[type="reset"]:hover {
  background-color: gray;
  }


body{
  background: #bca5b1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #aa91a0, #a890a1, #958090);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8d7585, #957e8e, rgb(129, 113, 123)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


